<mat-card>
  <mat-card-title>Formulario de registro de conductor</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="Número de cédula">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Primer nombre">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Segundo nombre">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Apellidos">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Teléfono">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Dirección">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Ciudad">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="next()">Siguiente</button>
  </mat-card-actions>
</mat-card>
